@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&family=Overpass:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;700;800&display=swap');

:root {
  --Cyan: hsl(180, 66%, 49%);
  --Cyan2: hsla(180, 100%, 71%, 0.284);
  --Dark-Violet: hsl(257, 27%, 26%);
  --Red: hsl(0, 87%, 67%);
  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --purple: hsl(255, 33%, 26%);
  --Very-Dark-Violet: hsl(260, 21%, 14%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: var(--white);
}

header {
  padding: 30px 20px;
  position: relative;
}

header .logo {
  width: auto;
}

header .hamburger {
  width: 25px;
}

header nav {
  position: absolute;
  width: 90%;
  /* min-height:500px; */
  background-color: var(--Dark-Violet);
  top: 90px;
  text-align: center;
  padding: 30px 20px;
  border-radius: 8px;
  animation: scale 1s ease-in-out;
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

header nav li {
  list-style-type: none;
  padding: 10px 0;
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
}
header .desktopNav{
  display: none;
}
header nav span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--Grayish-Violet);
  margin: 20px 0;
}

header nav button {
  background-color: transparent;
  color: var(--white);
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
  margin: 10px 0;
}

header nav button:last-child {
  background-color: var(--Cyan);
}

header nav button:hover{
  opacity:.8;
}

/* descriptiona section styling  */
.descContainer {
  background-color: var(--white);
  padding: 20px 0 0px;
}

.description {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  /* border:2px solid black; */
  overflow-x: hidden;
}

.description img {
  width: 150%;
  margin: 20px 0px 0 150px;
  height: 55vh;
  object-fit: fill;
}

.descContainer aside {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.descContainer aside h1 {
  font-size: 30px;
  font-weight: 700;
  max-width: 90%;
  color: var(--Dark-Violet);
  margin: 20px 0;
}

.descContainer aside p {
  font-size: 18px;
  font-weight: 500;
  color: var(--Grayish-Violet);
  line-height: 2rem;
  margin: 20px 0;
}

.descContainer aside button {
  cursor: pointer;
  background-color: var(--Cyan);
  color: var(--white);
  padding: 10px 40px;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 500;
}

.descContainer aside button:hover{
  opacity:.7;
}

/* input area creation  */

.input {
  position: absolute;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 30px 0 0;
}

.input div {
  width: 90%;
  padding: 30px 20px;
  text-align: center;
  /* border:2px solid red; */
  border-radius: 5px;
  background-image: url(../src/url-shortening-api-master/images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-position: 100% -100%;
  background-color: var(--Very-Dark-Violet);
}

.input div input,
.input div button {
  width: 100%;
}

.input div input {
  height: 40px;
  padding: 20px 10px;
  border-radius: 5px;
  color: var(--Grayish-Violet);
  font-size: 16px;
  outline: none;
  border:none;
}

.input div button {
  background-color: var(--Cyan);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  margin: 15px 0 0px;
  color: var(--white);
  font-size: 19px;
  font-weight: 600;
}

.input div button:hover{
  opacity:.7;
}

.input main{
  width:90%;
}

 .input .links{
  background-color: var(--white);
  background-image: none;
  margin:15px 0 10px;
  width:100%;
  padding:10px 0px;
  border-radius: 5px;
  text-align: left;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.487);
  z-index: 3;
  position: relative;
}
.input .links p{
  margin:0;
}
.input .links .text{
  border-bottom: 1px solid var(--Gray);
  padding:5px 10px;
  max-width:100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 16px;
  color:var(--Very-Dark-Blue)
}
.input .links .link{
  width:auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding:10px ;
}
.input .links .link button{
  width:100%;
  border-radius: 5px;
  margin:15px 0 0;
  padding:10px 0;
  background-color: var(--Cyan);
  border:none;
  outline:none;
  font-size: 16px;
  color:var(--white);
  font-weight: 600;
  cursor:pointer;
}
.input .links .link button.copied{
  background-color: var(--Very-Dark-Blue);
  opacity: 10;
}

.input .links .link p{
  color:var(--Cyan);
  font-size: 19px;
}
/* STATIC SECTION WHAT WE OFFER  */
.statics {
  width: 100%;
  background-color: var(--Cyan2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px 0 0px;
  padding: 150px 0 0px;
}

.verticalCyanLine {
  width: 12px;
  height: 110vh;
  display: block;
  position: absolute;
  margin: 150px 0 0;
  background-color: var(--Cyan);
}

.statics .statHeader {
  width: 90%;
  text-align: center;
  margin: 60px 0 50px;
}

.statHeader h1 {
  font-size: 27px;
  margin: 0px 0 10px;
}

p {
  font-size: 18px;
  font-weight: 500;
  color: var(--Grayish-Violet);
  line-height: 1.7rem;
  margin: 20px 0;
}

.statics .static {
  width: 90%;
  padding: 60px 20px 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border:2px solid red; */
  position: relative;
  background-color: var(--white);
  border-radius: 10px;
  margin: 10px 0 80px;
}

.statics .static p {
  font-size: 16px;
}

.static .imgContainer {
  /* border:2px solid black; */
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: var(--Very-Dark-Violet);
  position: absolute;
  top: -50px;
}

.boost {
  background-image: url(../src/url-shortening-api-master/images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  background-color: var(--purple);
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.boost h1 {
  font-size: 27px;
  color: var(--white);
  margin: 0 0 20px;
}

.boost button {
  padding: 10px 30px;
  margin: 10px 0 0;
  font-size: 19px;
  font-weight: 600;
  background-color: var(--Cyan);
  color: var(--white);
  border-radius: 30px;
  border: none;
  outline: none;
}

.boost  button:hover{
  opacity:.7;
}
/* footer sction styling  */

footer {
  width: 100%;
  background-color: var(--Very-Dark-Violet);
  padding: 30px 20px;
  text-align: center;
  color: var(--white)
}

footer .footerContainer {
  width: 100%;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer section h3 {
  margin: 30px 0 20px;
}

footer ul li {
  list-style: none;
  padding: 5px 0;
  color: var(--Gray);
  cursor: pointer;
}

footer ul li:hover{
  color:var(--Cyan);
}

footer .socialMedia {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

footer .socialMedia svg:hover path{
  fill: var(--Cyan);
}




@media screen and (min-width:600px) {
  header {
    padding: 20px 65px;
  }

  header nav {
    position: relative;
  }

  /* //description responsive area  */
  .descContainer aside {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .description img {
    width: 100%;
    height: auto;
  }

  .descContainer aside h1 {
    margin: 50px 0 10px;
  }

  .descContainer aside p {
    width: 60%;
    text-align: center;
  }

  .input div {
    background-image: url(../src/url-shortening-api-master/images/bg-shorten-desktop.svg);
    background-position: center center;
    background-size: cover;
  }

  .input div input {
    width: 65%;
    height: 45px;
    border: none;
    margin: 0 10px 0 0;
  }

  .input div button {
    width: 25%;
    padding: 12px 0;
  }

  .input .links{
    display: flex;
    /* border:2px solid black; */
    justify-content: space-between;
    /* flex-wrap: wrap; */
    align-items: center;
    padding:15px 10px;
  }

  .input .links .text{
    border-bottom: none;
    margin-bottom:10px;
  }
  .input .links .link{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0;
  }

  .input .links .link button{
    padding:10px 40px;
    margin:0;
    /* border:2px solid red; */
  }

  .input .links .link p{
    margin:0 30px 0 0;
  }

  .statics {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .statHeader {
    width: 100%;
    /* border:3px solid red; */
  }

  .statics .static {
    width: 60%;
    margin: 30px 10px 80px;
  }

  .verticalCyanLine {
    height: 50%;
  }

  .boost {
    background-image: url(../src/url-shortening-api-master/images/bg-boost-desktop.svg);
    background-position: top;
    background-size: cover;
    min-height: 300px;
  }

  footer {
    text-align: left;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
  }

  footer .svg {
    width: 100%;
  }

  footer .footerContainer {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: baseline;
    margin: 20px 0 30px;
  }

  footer .socialMedia {
    width: 100%;
    justify-content: center;
  }

  footer .socialMedia a {
    margin: 0 20px 20px;
  }
}


@media screen and (min-width:1000px) {
  .hamburger {
    display: none;
  }
  header{
    align-items: center;
  }

  header .desktopNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border:2px solid black; */
    width:85%;
  }
  header .desktopNav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  header .desktopNav li{
    list-style-type: none;
    padding: 5px 0;
    color: var(--Gray);
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    cursor: pointer;
  }
  header .desktopNav li:hover{
    color:var(--Very-Dark-Blue)
  }

  header .desktopNav ol{
    display: flex;
    justify-content: center;
    align-items: center;
    width:40%;
    /* border:2px solid black; */
  }

    header .desktopNav button {
      background-color: transparent;
      color: var(--Gray);
      padding: 10px 20px;
      font-size: 20px;
      font-weight: 600;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      width: 100%;
      border-radius: 20px;
      /* border:2px solid black; */
      margin: 10px 5px;
    }
  
    header .desktopNav button:last-child {
      background-color: var(--Cyan);
      color: var(--white);
    }
  
    header nav button:hover {
      opacity: .8;
    }
  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .wrapper aside {
    text-align: left;
    margin: 0 0 0 70px;
    align-items: flex-start;
    /* border:2px solid black; */
    width: 100%;
    padding: 0;
  }

  .wrapper aside p {
    text-align: left;
    width: 100%;
    font-size: 21px;
  }

  .input div {
    padding: 50px 0;
  }

  .statics {
    padding: 100px 20px 50px;
  }

  .statics .statHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .verticalCyanLine {
    height: 15px;
    width: 50%;
    margin: 250px 0 0;
  }

  .statics .statHeader p {
    width: 50%;
  }

  .statics .static {
    width: 30%;
    padding: 60px 20px 20px;
    align-items: flex-start;
  }

  .statics .static p {
    text-align: left;
  }

  .statics .static.second {
    position: relative;
    top: 45px;
  }

  .statics .static.third {
    position: relative;
    top: 90px;
  }
}

@media screen and (min-width:1200px) {
  .description {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .wrapper img {
    margin: 0 0 0 100px;
  }
  .wrapper aside h1 {
    font-size: 70px;
    width: auto;
    max-width: 100%;
    line-height: 5.5rem;
  }

  .wrapper aside p {
    font-size: 25px;
    width: 100%;
  }
  .wrapper aside button{
    font-weight: 700;
    padding: 10px 40px;
  }
  .input{
    margin-top:90px;
  }
  .input div input{
    font-size: 20px;
    padding:20px;
  }
  .statics{
    margin-top:150px;
  }
  .statics h1{
    font-size: 40px;
  }
  .statics p{
    font-size: 24px;
    line-height: 2.4rem;
  }
  .statics .static p{
    font-size: 20px;
  }
  .boost h1{
    font-size: 50px;
  }
  .boost button{
    font-size: 25px;
  }
  footer{
    flex-wrap: nowrap;
  }
  footer .footerContainer{
    width:150%;
  }
}

